<style>
  .my-drop-zone {
    border: dotted 3px lightgray;
  }
  .nv-file-over {
    border: dotted 3px red;
  } /* Default class applied to drop zones on over */
  .another-file-over-class {
    border: dotted 3px green;
  }

  html,
  body {
    height: 100%;
  }
</style>

<div
  ng2FileDrop
  [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
  (fileOver)="fileOverBase($event)"
  class="well my-drop-zone"
  (onFileDrop)="onFileSelected($event)"
>
  Base drop zone
</div>

<input (onFileDrop)="onFileSelected($event)" ng2FileDrop type="file" />

<ngx-select
  [formControl]="ngxControl"
  [allowClear]="true"
  [defaultValue]="doNgxDefault()"
  [items]="items"
  placeholder="No city selected"
  (typed)="inputTyped('ngx-select', $event)"
  (focus)="doFocus()"
  (blur)="doBlur()"
  (open)="doOpen()"
  (close)="doClose()"
  (select)="doSelect($event)"
  (remove)="doRemove($event)"
  (selectionChanges)="doSelectOptions($event)"
>
</ngx-select>

<!-- above code will be removed in future commits its just to test packages which are installed -->
<router-outlet></router-outlet>
